{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions & Answers </title>

        {% include "site/css.html" %}
</head>
{% include "site/navbar.html" %}
<body>

    <div class="mt-5 pt-5">
        {% if messages %}
            {% for message in messages %}
            <div class="{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-10">
            {% block content %}
            {% endblock content %}
            </div>
            <div class="col-2">
                {% include "site/sidebar.html" %}
            </div>
        </div>
    </div>

</body>
</html>